<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'amazingKidsApp/curriculum.css' %}" media="screen" title="Amazing_Kids"  charset="utf-8">
        <!-- <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type"> -->
    </head> 
    <body>
    <div class="Wrapper">
        <div class="topnav" id="myTopnav">
            <a href="/" class="active">Amazing Kids Christian Child Care</a>
            <a href="/">Home</a>
            <a href="mailto:christiankidslearning@gmail.com?Subject=Hi,%20Amazing%20Kids!">Contact</a>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>   
        <div class="informationComponent">
            <div class="informationWrapper">
                <div class="hoursOfOperationWrapper">
                    <div class="hoursOfOperation">
                        <h1>Hours</h1>
                        <p> M-F 7:30 a.m. - 6 p.m</p>   
                    </div>
                </div>
                <div class="locationWrapper">
                    <div class="location">
                        <h1>Address</h1>
                        <p>
                            1245 N.E. 140th ST.
                            Seattle, WA 98125-3108
                        </p>
                    </div>
                </div>
                <div class="phoneNumberWrapper">
                    <div class="phoneNumber">
                        <h1>Phone Number</h1>
                        <p>(206) 364-7428  </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="corriculumComponent">
            <div class="corriculumHeader">
                <h1>Curriculum</h1>
            </div>
        <div class="corriculumWrapper">
            <div class="infant">
                <div class="corriculumInfantText">
                    <div class="corriculumInfantTextWrapper">
                        <h1>Infants</h1>
                        <p>Your babies are so important to us. Every day we work with them on feeling loved with a strong sense of security, babies blossom in our care.  During this age children will explore their world, learning language, body movements, social interactions,  and bonding with love and trust. The children feel safe, secure and loved when we cuddle and hold them. We love playing and  encouraging them to experience new things and grow. Children this age love to play games that interact with their care giver like peek-a-boo/ pat-a-cake/ listening to music and exploring objects.</p>
                    </div>
                </div>
                <div class="corriculumInfantPic"></div>
            </div>
            <div class="toddler">
                <div class="corriculumToddlerPic"></div>
                <div class="corriculumToddlerText">
                    <div class="corriculumToddlerTextWrapper">
                        <h1>Toddlers</h1>
                        <p>Toddlers are so fun! From the beginning of walking to a running 2 year old. Life is good, so much to explore and learn.  Exploring and playing is a vital part of this ages development. We play games and provide toys that encourage children to grow and develop skills they need. From sorting objects, simple puzzles, learning to match objects, learning how to talk in phrases and sentences  while using their amazing vocabulary that is  being fostered though teaching ,reading books,  and socializing with friends</p>
                    </div>
                </div>
                <div class="corriculumToddlerPic2"></div>
            </div>
            <div class="preK">
                <div class="corriculumPreKText">
                    <div class="corriculumPreKTextWrapper">
                        <h1>Preschool</h1>
                        <p>Our wonderful curious preschoolers are ready to learn. Group time is awesome. We love to sing,  dance, play group games, read our Bible stories, and learn lessons on a weekly theme. Books are so exciting. Hearing books read is important. Patterning,  shapes, color and math games are also fun. We also love art and exploring art materials. Art develops muscles in the fingers and creativity in our thinking and helps us in the learning process. We provide sensory play and gross and fine motor development. Our make believe is cooperative and often a very social activity.</p>
                    </div>
                </div> 
                <div class="corriculumPreKPic"></div>
            </div>
            <div class="kinderPrep">
                <div class="corriculumKinderPrepText">
                    <div class="corriculumKinderPrepTextWrapper">
                        <h1>Kindergarden Prep</h1>
                        <p>In addition to our Preschool program, We continue our education learning the alphabet and phonics. Recognizing letters and numbers. patterning, and math. Playing games that brings math to life in a fun way as well as learning themed curriculum at a deeper level. We practice writing our letters. As always we  focus on learning while playing and exploring our enviroment. Children are growing in  their creative art and love sensory experinces as well as science activities.</p>
                    </div>
                </div>
                <div class="corriculumKinderPrepPic"></div>
            </div> 
            <div class="sun">
                <div class="block2">
                    <div class='block1'>
                        <div class="block1-content">
                            <div class="footerWrapper">
                                <div class ="footerLinks">
                                    <p>Amazing Kids Christian Child Care</p><br>
                                    <ul>
                                        <a href="/"><li>Home</li></a>
                                        <a href="/curriculum"><li>Our Curriculum</li></a>
                                        <a href="mailto:christiankidslearning@gmail.com?Subject=Hi,%20Amazing%20Kids!"><li>Contact</li></a>
                                    </ul> 
                                </div>
                                <div class ="footerSocials">
                                    <p>Socials</p><br>
                                    <ul>
                                        <!-- <a href="/"><li><img src="../static/amazingKidsApp/images/twitter.png" alt="logo">Follow Amazing Kids Care on Twitter</li></a>
                                        <a href="/"><li><img src="../static/amazingKidsApp/images/facebook.png" alt="logo">Follow Amazing Kids Care on Facebook</li></a>
                                        <a href="/"><li><img src="../static/amazingKidsApp/images/instagram.png" alt="logo">Follow Amazing Kids Care on Instagram</li></a> -->
                                        <a href="https://www.yelp.com/biz/amazing-kids-christian-child-care-seattle"><li><img src="../static/amazingKidsApp/images/yelp.png" alt="logo">Review Amazing Kids Care on Yelp</li></a>
                                    </ul>                            
                                </div>
                                <p class="watermark">© 2018 Amazing Kids Christian Child Care. All Rights Reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            </div>
        </div>
        </div>
    </div>
    <script>
        function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
            </script>            
</html> 
       